/* Run Dialog */
.run-dialog-label {
	font-size: 9pt;
	color: rgba(255,255,255,0.8);
	padding-bottom: 10px;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; 
}

.run-dialog-error-label {
	font-size: 8pt;
	color: rgba(0,0,0,0.8);
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px; 
}


.run-dialog-error-box {
    padding-top: 15px;
    spacing: 5px;
}

.run-dialog-entry {
	font-size: 10pt;
	border-radius: 4px;
    font-weight: bold; 
	color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
	border: 1px solid rgba(0,0,0,0.8);
	box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.2);
	padding: 4px;
}


.run-dialog {
	padding: 15px;
	background-color: rgba(0,0,0,0.85);
	color: #fff;
	box-shadow: inset 0px 3px 3px 0px rgba(255,255,255,0.15);
	border: 1px solid rgba(255,255,255,0.3);
	border-radius: 5px;
}

.lightbox {
	background-color: rgba(0,0,0,0.2);
}

/**/
.add-launcher-dialog-content-box {
	padding: 6px;
	spacing: 20px;
}

.add-launcher-dialog-content-box-left {
	padding: 6px;
	spacing: 20px;
}

.add-launcher-dialog-content-box-right {
	padding: 6px;
	spacing: 10px;
}

.add-launcher-dialog-entry {
    padding: 4px;
    border-radius: 4px;
    font-weight: bold;
    color: rgb(128, 128, 128);
    border: 1px solid rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
    box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.2);
    selected-color: black;
    caret-color: rgb(128, 128, 128);
    caret-size: 1px;
    width: 250px;
    transition-duration: 300;
    box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
/*
    font-size: 10pt;
	border-radius: 4px;
    font-weight: bold; 
	color: rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
	border: 1px solid rgba(0,0,0,0.8);
	box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.2);
	padding: 4px;*/

}

.add-launcher-dialog-entry:focus,
.add-launcher-dialog-entry:hover {
    border: 1px solid rgba(0,0,0,0.8);
    background-color: rgba(255,255,255,0.8);
    box-shadow: outset 0px 1px 0px 0px rgba(255,255,255,0.3);
}

.add-launcher-dialog-entry:hover {
    transition-duration: 300;
}

.add-launcher-dialog-entry:focus {
    color: rgb(64, 64, 64);
    font-weight: bold;
    transition-duration: 0;
}

